@import 'src/styles/variables.scss';
.expertise-wrapper {
    width: 100%;
    text-align: center;
    padding: $wrapper-padding;

    .title {
        text-align: left;
        font-weight: bold;
    }

    .circle-avatar {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .col {
        text-align: left;
    }

    .sub-title {
        font-size: 1.5em;
    }

    .content {
        font-size: 1.2em;
        line-height: 1.5em;
        letter-spacing: 4px;
    }

    .tag {
        font-size: 1em;
        line-height: 1.2em;
        letter-spacing: 2px;
    }

    .timeline {
        text-align: left;
    }
}