$primary: #0099f1;
$primary_light: #a6d8ff;
$black: #515359;
$background_anchor: #f5f5f8;
$background: rgba(0,255,0,0.02);
$disabled: #ececec;
$gray: #afafaf;
$gray_light: #c0c0c0;
$gray_text: #8d8f94;
$error: #d32f2f;