@import 'src/styles/variables.scss';
.home-wrapper {
    width: 100%;
    height: 100%;
    background-color: $background;

    .home-anchor {
        padding: 20px;
        background-color: $background_anchor;
    }
}
