@import 'src/styles/variables.scss';
.personality-wrapper {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: $background;
    padding: $wrapper-padding;

    .title {
        text-align: left;
    }
}