@import '/src/styles/variables.scss';
.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .layout {
        min-height: 100%;
    }

    .layout-margin {
        min-height: auto;
        transition-duration: 0.2s; 
    }

    .spin {
        height: 100%;
        width: 100%;
        min-height: 100%;
    }

    .ant-spin-container {
        position: relative;
        height: 100%;
    }
}
