@import '/src/styles/variables.scss';
.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .layout {
        min-height: auto;
        background: $background;
    }

    .layout-margin {
        min-height: auto;
        background: $background;
        transition-duration: 0.2s; 
    }
}
