@import 'src/styles/variables.scss';
.interest-wrapper {
    width: 100%;
    text-align: center;
    padding: $wrapper-padding;

    .title {
        text-align: left;
    }

    .card {
        width: 200px;
        margin: 16px auto 8px;

        &:hover {
            cursor: pointer;
            scale: 1.1;
            transition-duration: 0.5s;
        }
    }
}